@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-blue-colour-700- : #091133;
    --main-blue-colour-500- : #505F98;
    --btn-main-colour- : #111B47;
    --logo-primary- : #37447E;
    --white-colour- : #ffff;
    --blob-colour- :#E7ECFF;
    --second-colour- : #5D6970;
    --paragraph-colour- : #6F7CB2;
    
}

*{
    box-sizing: border-box;
}

.logo{
    font-size: 26px;
    line-height: 38px;
    color: var(--logo-primary-);
    font-weight: 700;
}

.nav-menu{
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu li{
    font-size: 14px;
    line-height: 24px;
    color: var(--main-blue-colour-500-);
    font-weight: 500;
}

.nav-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 220px;
}

.nav-btn button{
    font-size: 12px;
    line-height: 18px;
    background-color: var(--btn-main-colour-);
    color: var(--white-colour-);
    padding-inline: 55px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}

.nav-logo{
    min-width: 400px;
}


.section-header{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.header-topic{
    font-size: 50px;
    color: var(--main-blue-colour-700-);
    font-weight: 600;
    max-width: 550px;
}



.header-content{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    max-width: 560px;
    color: var(--main-blue-colour-500-);
}


@media only screen and (min-width: 1025px) {
    .hero-pattern{
        height: 100vh;
        background-image: url('./assets/designer_1.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1230px;
    }
    .container {
        max-width: 1110px; 
        height: auto;
        margin: 0 auto;    
        box-sizing: border-box; 
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 1110px; 
        margin: 0 auto;    
        padding-inline: 10px;
        box-sizing: border-box; 
    }
    .hero-pattern{
        height: 100vh;
        background-image: url('./assets/designer_1.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 500px;
    }
    .nav-btn{
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 767px){

    .hero-pattern{
        background-image: none;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 200px;
    }
    .nav-menu {
        display: none;
        min-width: 0;
    }
    .nav-btn {
        display: none;
        max-width: 0;
    }
    .nav-logo{
        display: flex;
        justify-content: end;
        min-width: 0;
    }
     .container {
        max-width: auto; 
        margin: 0 auto;    
        box-sizing: border-box; 
        padding-inline: 5px ;
    }
    .nav-sm-menu li{
        font-size: 14px;
        line-height: 24px;
        color: var(--main-blue-colour-500-);
        font-weight: 500;
    }
    .nav-sm-btn button{
        font-size: 12px;
        line-height: 18px;
        background-color: var(--btn-main-colour-);
        color: var(--white-colour-);
        padding-inline: 55px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
    }
    .sec-btn ,.main-btn , button {
        width: 100%;
        max-width: none !important;
    }
    .header-content{
      
        max-width: none;
     
    }
}

.main-btn button{
    font-size: 16px;
    line-height: 18px;
    max-width: 220px;
    max-height: 36px;
    background-color: var(--btn-main-colour-);
    color: var(--white-colour-);
    padding-inline: 55px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 2px;
}
.sec-btn button{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    max-width: 230px;
    max-height: 36px;
    border: solid var(--btn-main-colour-);
    color: var(--btn-main-colour-);
    padding-inline: 63px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    box-sizing: border-box;
}
/* Content Section */
.content-topic{
    font-size: 36px;
    line-height: 48px;
    color: var(--main-blue-colour-700-);
    font-weight: 600;
}

.content-1-describe{
    margin-top: 50px;
}

.content-paragraph{
    font-size: 16px;
    line-height: 26px;
    color: var(--paragraph-colour-);
    font-weight: 400;
    margin-top: 10px;
}

.content-choice{
    margin-top: 80px;
}


.content-choice-group img{
    max-width: 36px;
    max-height: 36px;
}

.content-choice-group h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.content-choice-group p{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--second-colour-);
    max-width: 240px;
}

.content-choice-group ,h1, p{
    margin-top: 10px;
}

.content-1-img img{
    width: 100%;
}